/* website background color */
body {
    background-color: rgb(234, 95, 150);
}

/* text formatting */
h1 {
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* navigation bar formatting */
nav {
  list-style-type: none;
  margin: 50px 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(236, 114, 77);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

li {
  float: left;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  margin: 0px 125px;
  text-decoration: none;
}
  
li a:hover {
    background-color: rgb(255, 0, 102);
}

/* formatting for two toggle buttons */
#b2 {
  font-size: 12px;
  padding: 5px 15px;
  border: none;
  color: white;
  background-color: rgb(236, 114, 77);
  position: absolute;
  left: 1415px;
  top: 25px;
}
#b3 {
  font-size: 12px;
  padding: 5px 15px;
  border: none;
  color: white;
  background-color: rgb(236, 114, 77);
  position: absolute;
  left: 1505px;
  top: 25px;
}

/* linkedIn button formatting */
.button1 {
  color: white;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 0px 1000px;
  cursor: pointer;
  background-color: rgb(236, 114, 77);
  border: none;
  position: absolute;
  left: 450px;
  top: 90px;
}

/* LANDING PAGE FORMATTING */

/* picture slideshow */
.personalPicSlideshow {
  max-width: 400px;
  position: relative;
  margin: auto;
}
.personalPics2{
  display: none;
}

/* hide pictures to start */
.myPics {
  display: none;
} 

/* slideshow buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -20px;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* TECHNICAL PORTFOLIO PAGE FORMATTING */

/* style portfolio image with corresponding text */
.portfolioImages {
  margin: 150px auto;
  width: 40%;
  padding: 8px;
}

#pI {
  float: left;
  width: 70%;
  padding: 0 10px 0 0;
}

.portfolioImage1Text {
  text-align: justify;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}


/* QUALIFICATIONS PAGE FORMATTING */

/* style qualifications image with corresponding text */
#rP {
  text-align: center;
  margin: auto;
  display: block;
  width: 30%;
  padding: 8px;
}

/* SERVICE PAGE FORMATTING */

/* style service images with corresponding text */
.serviceImages {
  margin: 150px auto;
  width: 50%;
  padding: 8px;
}

#sI1 {
  float: left;
  width: 50%;
  padding: 0 10px 0 0;
}
#sI2 {
float: left;
width: 50%;
padding: 0 10px 0 0;
}





